
/* this is the animation for rounding corners */
/* section img:hover{
    border-radius: 50%;
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)
}

section img{
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)
} */


/* styling begins here */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    margin: 1rem;
    font-size: 120%;
}

h1{
    font-size: 300%;
    font-weight: bold;
    padding: 2%;
    background-color: #53915A;
    color: #FEFAE0;
}

h2{
    font-size: 200%;
    font-weight: 600;
    padding: 2%;
    /* text-decoration: underline #482728 5px; */
}


h3{
    font-size: 130%;
    font-weight: 600;
    padding: 2%;
}

p{
    padding: 2%;
}

.technique-block{
    margin: 1.5rem 0;
}

/* styling images  */
img{
    padding: 0 2%;
    width: 100%;
}

/* custom styling scrollbar  */
body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #929989;
}

body::-webkit-scrollbar-thumb{
    background: #283618;
}


/* list styling taken from https://codepen.io/chriscoyier/pen/NWqGLgj?editors=1100 */
ol {
    display: list-item;
    list-style: none;
    counter-reset: my-counter;
    display: grid;
    grid-template-columns: min-content 1fr;
}
ol li {
    counter-increment: my-counter;
    padding: 0.5rem 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-gap: 1rem;
    margin: 0 2rem;
}
ol li:before {
    content: counter(my-counter);
    color: #FEFAE0;
    font-weight: bold;
    background-color: #F25B50;
    border-radius: 50%;
    padding: 0.2rem;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    accent-color: #53915A;
}

.ingredient-group{
    display: flex;
    flex-direction: column;
}

.ingredient-list label{
    margin-left: 0.5rem;
    padding: 0.5% 0;
}

.ingredient-list input{
    margin-left: 1rem;
}

.ingredients h2, .instructions h2{
    text-decoration: underline #53915A;
}

.ingredients h3{
    color: #53915A;
}

.ingredient-group{
    margin: 1rem 0;
}

.ingredient-group span{
    display: flex;
}



/* CSS button taken from https://getcssscan.com/css-buttons-examples button 74*/
.button-74 {
  background-color: #FEFAE0;
  border: 2px solid #482728;
  border-radius: 30px;
  box-shadow: #482728 4px 4px 0 0;
  color: #482728;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 1.5em;
  margin-left: 16px;
  line-height: 200%;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #F25B50;
  color: #FEFAE0;
}

.button-74:focus {
    background-color: #482728;
    color: #FEFAE0;
}

.button-74:active {
  box-shadow: #482728 2px 2px 0 0;
  transform: translate(2px, 2px);
}

a:focus, span:focus{
    all: unset;
    border: 2px #53915A solid;
    border-radius: 5px;
}

/* decrease padding between h2 ingredients and first h3  */
.ingredient-list h3:first-of-type{
    padding-top: 0;
}

.ingredients h2{
    padding-bottom: 0;
}

@media (min-width: 768px) {

  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.instructions h2{
    margin-top: 2rem;
}

.instructions h3{
    color: #53915A;
}

.instructions li{
    margin: 0 1rem;
}

.instructions li::before{
    height: 28px;
    width: 28px;
}

footer{
    font-size: 75%;
    margin-top: 2rem;
}
/* end of css button  */

/* styling skip to recipe */
.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
    bottom: 11%;
    left: 83%;
    z-index: 1;
    font-size: 24px;
}

#skipRecipeIcon{
    background-color: #482728;
    padding: 24px;
    border-radius: 100%;
    position: absolute;
    color: #FEFAE0;
    box-shadow: -5px 7px 28px -10px #482728;
}

/* skip to recipe <a> tag fixed positioning */
#skipRecipeButton{
    position: fixed;
    right: 20%;
    bottom: 5%;
    width: 50px;
    fill: #FEFAE0;
}

/* making the position of circle text relative to skip to recipe link <a> tag  */
#skipRecipeButton svg{
    z-index: 2;
    position: absolute;
    bottom: 100%;
    left: 105%;
    width: 100%;
    fill: transparent;
}

#skipRecipeButton textPath{
    fill: #FEFAE0;
}

#skipRecipeButton:focus{
    border: unset;
}

/* skip to main styling  */
#skip{
    position: absolute;
    top: -100px;
}

#skip:focus{
    position: absolute;
    top: 5px;
    border: #F25B50 solid 3px;
    background-color: #ffffff;
}

.page-nav ul{
    display: none;
}

footer{
    background-color: #283618;
    color: #FEFAE0;
}

footer a{
    color: #FEFAE0;
}

footer a:focus, footer a:hover{
    background-color: #53915A;
}

.tip{
    display: none;
}

@media screen and (min-width: 900px){

    #skipRecipeButton{
        display: none;
    }
    /* .description{
        display: grid;
        grid-template-columns: repeat(12, 50px);
        column-gap: 16px;
    } */

    main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 16px;
    }

    header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        margin: 16px;
        background-color: #B2C6B4;
    }

    h1{
        grid-column: 5/-1;
    }

    .page-nav{
        position: fixed;
        top: 30%;
        opacity: 1;
        transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1)
        /* align-items: stretch; */
    }

    .page-nav img{
        width: 2rem;
        background-color: #F25B50;
        border-radius: 50%;
        padding: 2%;
        margin: 2% 0;
        transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .page-nav ul li:hover img, .page-nav ul a:focus img{
        width: 4rem;
        border-radius: 10%;
    }

    .page-nav ul{
        display: flex;
        flex-direction: column;
    }

    .page-nav li a{
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        text-decoration: none;
        color: #000000;
        margin: 0.5rem 0;
        gap: 5%;
    }

    .page-nav p{
        display: none;
        color:#F25B50;
        font-weight: 600;
    }

    .page-nav ul li:hover p, .page-nav ul a:focus p{
        display: contents;
    }

    .page-nav ul a:focus{
        padding-right: 8vh;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: none;
    }

    section.description, section.instructions{
        grid-column: 5/-1;
    }

    section.ingredients{
        grid-column: 1/4;
    }

    .instructions h2{
        margin-top: 0;
    }

    .ingredients{
        padding: 15px;
    }

    /* styling images for desktop  */
    img{
        width: 50%;
    }

    a.lightbox-photo:focus{
        border: unset;
    }

    .lightbox-photo:focus img{
        border: #53915A 4px solid;
        border-radius: 8px;
    }


    /* styling the recipe tip  */
    .tip-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .positioning{
        position: relative;
        width: 50%;
        height: 0;
        left: 50%;
        bottom: 2%;
    }

    .tip{
        opacity: 1;
        display: inline-block;
        position: absolute;
        transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        color: #FEFAE0;
            /* triangle dimension */
        --b: 2em; /* base */
        --h: 1em; /* height*/

        border-image: fill 0//var(--h)
        conic-gradient(var(--c,#283618) 0 0);
    }

    .bottom {
        clip-path:
          polygon(0 100%,0 0,100% 0,100% 100%,
            calc(50% + var(--b)/2) 100%,
            50% calc(100% + var(--h)),
            calc(50% - var(--b)/2) 100%);
      }

}  